$("#word").html("<% if @word.get_valid %><%= @word.term %><% end %>");

$("#definitions").html("<% @definitions.each do |definition| %> <li><%= definition %></li><% end %>");

$("#errors").html("<% @word.errors.full_messages.each do |error| %><li><%= error %><% end %></li>");