<div class="d-flex-inline justify-content-center col-6 offset-3">
  <div class="form-group">
    <%= render 'form', word: @word %>
  </div>
  
  <div id="word"></div>
  <div id="definitions"></div>
</div>