<div class="d-flex-inline justify-content-center col-6 offset-3">
  <div class="form-group">
    <%= render 'form', word: @word %>
  </div>
  <%= link_to 'Back', words_path %>
  
  <div id="definitions"></div>
  <div><ul id="payload" class="list"></ul></div>
</div>